@media (max-width: 1300px) {
    .header__col {
        width: 81%;
    }
    .header__wrapp-inner {
        width: 83%;
    }
    .direction__wrapp-box {
        width: 320px;
    }

    .benefits__list,
    .benefits__list-2 {
        padding-top: 0;
        width: 28%;
    }

    .fits {
        .container {
            max-width: 1258px;
        }
    }
}

@media (max-width: 1200px) {
    .fits__wrapp {
        padding-left: 45px;
    }
    .fits__wrapp-inner {
        margin-right: 20px;
    }
}

@media (max-width: 1123px) {
    .fits__img:nth-child(1) {
        margin-right: 5px;
    }

    .fits__wrapp {
        padding-left: 25px;
    }
}
@media (max-width: 1099px) {
    .header {
        .container {
            position: relative;
        }
        .logo {
            position: relative;
            z-index: 6;
        }
    }

    .burger {
        position: relative;
        top: 0;
        right: 20px;
    }
    .header-message {
        display: block;
    }
    .menu__burger {
        display: block;
    }
    .nav__list {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .header__wrapp-inner {
        width: 70%;
        height: 90vh;
        overflow-y: auto;
        position: absolute;
        top: 72px;
        left: 0;
        padding-bottom: 50px;
        padding-top: 10px;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        transition: 0.3s;
        transform: translateY(-300%);
        background: #fff;
        z-index: 5;
    }
    .header__wrapp-inner--active {
        transform: translateY(0);
    }
    .header__col {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav__dropdown-list {
        position: relative;
        width: 100%;
    }

    .burger {
        display: flex;
    }
    .header__wrapp-col {
        align-items: start;
        padding-left: 78px;
        padding-bottom: 22px;
    }

    .header-message {
        padding-left: 19px;
        padding-bottom: 14px;
    }

    .header-img {
        margin-left: 20px;
    }

    .header__message-link {
        padding-right: 10px;
    }

    .nav__list-dropdown {
        padding-left: 20px;
        padding-bottom: 17px;
        &:hover {
            padding-bottom: 0;
        }
    }

    .nav__list-dropdown:hover .nav__dropdown-list {
        box-shadow: none;
    }
    .nav__list-link:hover {
        background: none;
        color: #3a81cf;
    }
    .nav__list-dropdown:before {
        left: 133px;
    }
    .nav__list-inner {
        padding-bottom: 17px;
    }

    .direction__wrapp {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .direction__wrapp-box {
        width: 386px;
        margin-bottom: 20px;
    }

    .program__wrapp {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .program__box {
        margin: 20px;
    }
}

@media (max-width: 1080px) {
    .fits {
        .container {
            max-width: 960px;
        }
    }
    .fits__wrapp {
        width: 100%;
        flex-direction: column;
        padding-left: 20px;
        margin: 0 auto;
    }
    .fits__img:nth-child(1),
    .fits__img:nth-child(2) {
        top: 0;
        width: 49%;
        height: 100%;
    }
    .fits__img-wrapp {
        width: 100%;
    }
    .fits__img-3 {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 0;
        border-radius: 20px;
        margin-top: 20px;
        height: 100%;
        width: 100%;
        background: none;
    }

    .fits__img-box {
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fits__wrapp-inner {
        max-width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 992px) {
    .main {
        margin-bottom: 40px;
    }
    .problem__wrapp {
        flex-direction: column;
    }
    .proble__img::before {
        content: "";
        width: 0;
        height: 0;
    }
    .proble__img {
        margin: 0 auto 39px;
    }

    .benefits__wrapp {
        flex-direction: column;
        align-items: center;
        max-width: 380px;
        margin: 0 auto;
    }
    .benefits__list,
    .benefits__list-2 {
        width: 100%;
    }
    .benefits__list {
        .benefits__list-inner {
            text-align: left;
            &::after {
                right: auto;
                left: -65px;
            }
        }
    }
    .benefits-img {
        margin-bottom: 40px;
    }
    .benefits {
        padding: 40px 0;
    }
    .benefits__list-inner {
        margin-bottom: 30px;
    }
    .benefits__list-inner:nth-child(2),
    .benefits__list-inner:nth-child(3) {
        margin-bottom: 30px;
    }
    .benefits-title {
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px 0;
        .logo {
            width: 103px;
            height: 40px;
            .logo-img {
                display: none;
            }
            .logo-img-2 {
                display: block;
            }
            .logo-text {
                font-size: 10px;
                line-height: 11px;
                bottom: 3px;
                left: 25px;
            }
        }
    }

    .header__wrapp-inner {
        width: 70%;
        position: absolute;
        left: -2px;
        top: 45px;
    }

    .burger {
        top: 1px;
        right: 20px;
    }
    .header__wrapp-inner {
        width: 100%;
    }
    .header__col {
        width: 100%;
    }
    .header__wrapp-inner {
        width: 100%;
    }

    .main__wrapp-title {
        font-size: 24px;
        line-height: 29px;
    }
    .main {
        padding: 95px 0 170px;
        background-size: cover;
    }
    .main__btn {
        display: none;
    }
}
@media (max-width: 576px) {
    .problem__row {
        flex-direction: column;
    }
    .problem-title {
        font-size: 20px;
        line-height: 25px;
    }

    .problem__row-title {
        font-size: 18px;
        line-height: 23px;
    }
    .problem__list-inner {
        font-size: 16px;
        line-height: 20px;
    }
    .problem__list {
        padding-left: 23px;
        padding-bottom: 9px;
    }
    .problem-solution {
        padding: 20px;
    }

    .problem__row {
        margin-bottom: 6px;
    }
    .problem-solution-title {
        padding-bottom: 7px;
    }
    .problem-solution-content {
        padding-bottom: 22px;
    }

    .problem {
        margin-bottom: 38px;
    }

    .direction-title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding-bottom: 23px;
    }

    .direction__box-inner {
        padding-top: 13px;
    }

    .direction__box-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }
    .direction__box-link {
        font-size: 18px;
        line-height: 23px;
    }

    .direction__wrapp-box {
        max-width: 320px;
        margin-bottom: 25px;
    }

    .direction__box-new {
        position: absolute;
        top: 8px;
        left: 10px;
    }
    .direction {
        margin-bottom: 12px;
    }
    .benefits-title {
        font-size: 20px;
        line-height: 25px;
    }

    .benefits__list,
    .benefits__list-2 {
        padding-left: 51px;
    }
    .benefits__list {
        .benefits__list-inner:after {
            content: url("../../assets/img/icon.svg");
            top: 50%;
            transform: translateY(-50%);
            left: -51px;
        }
    }
    .benefits__list-2 {
        .benefits__list-inner:after {
            content: url("../../assets/img/icon.svg");
            top: 50%;
            transform: translateY(-50%);
            left: -51px;
        }
    }

    .benefits__list-inner,
    .benefits__list-inner:nth-child(2),
    .benefits__list-inner:nth-child(3) {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 39px;
    }
    .benefits__list {
        .benefits__list-inner:nth-last-child(1) {
            margin-bottom: 25px;
        }
    }
    .benefits-img {
        margin-bottom: 19px;
    }
    .benefits {
        padding-bottom: 0;
        margin-bottom: 45px;
    }

    .program-title {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 20px;
    }
    .program__box {
        max-width: 310px;
        margin: 0 auto 19px;
    }
    .program__text {
        font-size: 18px;
        line-height: 23px;
    }
    .program {
        margin-bottom: 0;
    }
    .fits-title {
        font-size: 20px;
        line-height: 24px;
    }
    .fits__head {
        padding: 35px 30px 19px 20px;
    }
    .fits__list-inner {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 21px;
    }
    .fits__content {
        font-size: 18px;
        line-height: 23px;
    }

    .fits__list {
        padding-bottom: 2px;
    }

    .fits-btn {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
    }
    .fits__content {
        padding-bottom: 20px;
    }
    .fits__img-box {
        padding-top: 21px;
    }
    .fits__img-3 {
        margin-top: 12px;
    }
    .fits__wrapp {
        padding-bottom: 35px;
    }
}

@media (max-width: 400px) {
    .main {
        background: url("../../assets/img/main-2.jpg") no-repeat center center/cover;
    }
}

@media (max-width: 340px) {
    .header__wrapp-col {
        padding-left: 59px;
    }
}
