@media (max-width: 1380px) {
    .price__slaider-acive {
        max-width: 802px;
        margin: 0 auto;
    }

    .trainer {
        .slick-next {
            top: 36%;
            right: 41px;
        }
        .slick-prev {
            top: 36%;
            left: -37px;
        }
    }

    .trainer-img {
        margin-left: auto;
        margin-right: auto;
    }

    .question__slaider {
        .slick-prev {
            top: 51%;
            left: -28px;
        }
        .slick-next {
            top: 51%;
            right: -43px;
        }
    }
}

@media (max-width: 1300px) {
    .description-info {
        width: 50%;
    }
    .diagnosis-coll {
        width: 58%;
    }

    .diagnosis-coll-2 {
        width: 40%;
    }
    .contact__form {
        width: 60%;
    }
    .information__wrapp-box {
        max-width: 320px;
    }
    .information-img,
    .information-vidio {
        width: 100%;
        height: 100%;
    }
    .header__col {
        width: 81%;
    }
    .header__wrapp-inner {
        width: 83%;
    }
    .direction__wrapp-box {
        width: 320px;
    }

    .benefits__list,
    .benefits__list-2 {
        padding-top: 0;
        width: 28%;
    }

    .fits {
        .container {
            max-width: 1258px;
        }
    }

    .traniner-slaider {
        max-width: 850px;
        margin: 0 auto;
    }
    .trainer-img {
        margin-left: auto;
        margin-right: auto;
    }
    .trainer {
        .slick-next {
            top: 36%;
            right: -31px;
        }
        .slick-prev {
            top: 36%;
            left: -20px;
        }
    }
}

@media (max-width: 1200px) {
    .fits__wrapp {
        padding-left: 45px;
    }
    .fits__wrapp-inner {
        margin-right: 20px;
    }
}

@media (max-width: 1123px) {
    .fits__img:nth-child(1) {
        margin-right: 5px;
    }

    .fits__wrapp {
        padding-left: 25px;
    }
    .contact__info {
        width: 357px;
    }
    .contact__form {
        width: 57%;
    }
}
@media (max-width: 1099px) {
    .description-info {
        width: 40%;
    }
    .information__wrapp-box {
        width: 290px;
    }
    .header {
        .container {
            position: relative;
        }
        .logo {
            position: relative;
            z-index: 6;
        }
    }

    .burger {
        position: relative;
        top: 0;
        right: 20px;
    }
    .header-message {
        display: block;
    }
    .menu__burger {
        display: block;
    }
    .nav__list {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .header__wrapp-inner {
        width: 70%;
        height: 90vh;
        overflow-y: auto;
        position: absolute;
        top: 72px;
        left: 0;
        padding-bottom: 50px;
        padding-top: 10px;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        transition: 0.3s;
        transform: translateY(-300%);
        background: #fff;
        z-index: 5;
    }
    .header__wrapp-inner--active {
        transform: translateY(0);
    }
    .header__col {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav__dropdown-list {
        position: relative;
        width: 100%;
    }

    .burger {
        display: flex;
    }
    .header__wrapp-col {
        align-items: start;
        padding-left: 78px;
        padding-bottom: 22px;
    }

    .header-message {
        padding-left: 19px;
        padding-bottom: 14px;
    }

    .header-img {
        margin-left: 20px;
    }

    .header__message-link {
        padding-right: 10px;
    }

    .nav__list-dropdown {
        padding-left: 20px;
        padding-bottom: 17px;
        &:hover {
            padding-bottom: 0;
        }
    }

    .nav__list-dropdown:hover .nav__dropdown-list {
        box-shadow: none;
    }
    .nav__list-link:hover {
        background: none;
        color: #3a81cf;
    }
    .nav__list-dropdown:before {
        left: 133px;
    }
    .nav__list-inner {
        padding-bottom: 17px;
    }

    .direction__wrapp {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .direction__wrapp-box {
        width: 386px;
        margin-bottom: 20px;
    }

    .program__wrapp {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .program__box {
        margin: 20px;
    }
}

@media (max-width: 1080px) {
    .fits {
        .container {
            max-width: 960px;
        }
    }
    .fits__wrapp {
        width: 100%;
        flex-direction: column;
        padding-left: 20px;
        margin: 0 auto;
    }
    .fits__img:nth-child(1),
    .fits__img:nth-child(2),
    .fits-results .fits__img:nth-child(1) {
        top: 0;
        width: 49%;
        height: 100%;
    }
    .fits__img-wrapp {
        width: 100%;
    }
    .fits__img-3 {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 0;
        border-radius: 20px;
        margin-top: 20px;
        height: 100%;
        width: 100%;
        background: none;
    }

    .fits__img-box {
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fits__wrapp-inner {
        max-width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 992px) {
    .description-img {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .description-title {
        position: absolute;
        top: 0;
        left: 0;
    }

    .description__wrapp {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .description-info {
        width: 100%;
    }

    .diagnosis__wrapp {
        flex-direction: column;
    }
    .diagnosis-coll,
    .diagnosis-coll-2 {
        width: 100%;
    }
    .author__wrapp {
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
    }

    .author-title {
        position: absolute;
        top: 0;
        left: 0;
    }

    .author-img {
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .author__info {
        width: 100%;
    }

    .contact__info,
    .contact__form {
        width: 100%;
    }

    .contact__info {
        margin-bottom: 40px;
    }
    .contact__wrapp {
        flex-direction: column;
    }
    .traniner-slaider {
        max-width: 450px;
    }
    .price__slaider-acive {
        max-width: 410px;
        margin: 0 auto;
    }
    .price-btn {
        padding-left: 20px;
        padding-right: 20px;
    }
    .main {
        margin-bottom: 40px;
    }
    .problem__wrapp {
        flex-direction: column;
    }
    .proble__img::before {
        content: "";
        width: 0;
        height: 0;
    }
    .proble__img {
        margin: 0 auto 39px;
    }

    .benefits__wrapp {
        flex-direction: column;
        align-items: center;
        max-width: 380px;
        margin: 0 auto;
    }
    .benefits__list,
    .benefits__list-2 {
        width: 100%;
    }
    .benefits__list {
        .benefits__list-inner {
            text-align: left;
            &::after {
                right: auto;
                left: -65px;
            }
        }
    }
    .benefits-img {
        margin-bottom: 40px;
    }
    .benefits {
        padding: 40px 0;
    }
    .benefits__list-inner {
        margin-bottom: 30px;
    }
    .benefits__list-inner:nth-child(2),
    .benefits__list-inner:nth-child(3) {
        margin-bottom: 30px;
    }
    .benefits-title {
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .information-link {
        font-size: 16px;
        line-height: 20px;
    }
    .information-text {
        font-size: 18px;
        line-height: 23px;
        padding-top: 36px;
    }
    .reviews {
        margin-bottom: 105px;
    }
    .information-title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding-bottom: 21px;
    }

    .information__wrapp-box {
        max-width: 320px;
    }
    .information__wrapp {
        max-width: 320px;
        margin: 0 auto;
    }
    .price__conteiner-btn {
        flex-direction: column;
    }
    .price-btn {
        margin-bottom: 20px;
    }
    .header {
        padding: 10px 0;
        .logo {
            width: 103px;
            height: 40px;
            .logo-img {
                display: none;
            }
            .logo-img-2 {
                display: block;
            }
            .logo-text {
                font-size: 10px;
                line-height: 11px;
                bottom: 3px;
                left: 25px;
            }
        }
    }

    .header__wrapp-inner {
        width: 70%;
        position: absolute;
        left: -2px;
        top: 45px;
    }

    .burger {
        top: 1px;
        right: 20px;
    }
    .header__wrapp-inner {
        width: 100%;
    }
    .header__col {
        width: 100%;
    }
    .header__wrapp-inner {
        width: 100%;
    }

    .main__wrapp-title {
        font-size: 24px;
        line-height: 29px;
    }
    .main {
        padding: 95px 0 170px;
        background-size: cover;
    }
    .main__btn {
        display: none;
    }
}
@media (max-width: 576px) {
    .description {
        margin-bottom: -1px;
    }
    .description-title {
        font-size: 20px;
        line-height: 24px;
    }

    .description__box-title {
        font-size: 18px;
        line-height: 23px;
    }

    .description__box-text {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 22px;
    }
    .description-span {
        font-size: 18px;
        line-height: 23px;
    }
    .description-text {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 19px;
    }

    .description-img {
        width: 320px;
        height: 320px;
        margin-bottom: 12px;
    }

    .fits-causes {
        .fits__head {
            padding-top: 19px;
        }
        .fits__img-box {
            padding-top: 0;
        }
    }

    .diagnosis {
        margin-bottom: 0;
    }
    .author {
        margin-bottom: 44px;
    }

    .diagnosis-img {
        width: 96px;
        height: 89px;
        margin-right: 8px;
    }

    .diagnosis-img-fix {
        height: 149px;
    }
    .diagnosis-text {
        font-size: 18px;
        line-height: 23px;
    }
    .diagnosis-title {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 23px;
    }
    .diagnosis-box {
        margin-bottom: 21px;
    }
    .author__box-experience {
        margin-bottom: 23px;
    }
    .author__box-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }
    .author__box-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
    }
    .author-text {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 21px;
    }
    .main__box {
        margin-bottom: 39px;
    }
    .author-title {
        font-size: 20px;
        line-height: 24px;
    }
    .author-img {
        margin-top: 46px;
        width: 320px;
        height: 320px;
        margin-bottom: 18px;
    }
    .main__box-title {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 22px;
    }

    .main__box-text {
        font-size: 18px;
        line-height: 22px;
        padding: 19px;
    }

    .main__box-slaider {
        margin-bottom: 18px;
        img {
            height: 224px;
        }
    }

    .breadcrumb {
        padding-top: 11px;
        padding-bottom: 20px;
    }
    ul.breadcrumb__list li {
        font-size: 12px;
        line-height: 14px;
        a {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .popup {
        padding: 20px;
        .logo {
            width: 103px;
            height: 40px;
            .logo-img {
                display: none;
            }
            .logo-img-2 {
                display: block;
            }
            .logo-text {
                font-size: 10px;
                line-height: 11px;
                bottom: 3px;
                left: 25px;
            }
        }
    }

    .popup-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
    }

    .popup-text {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 16px;
    }

    .popup-input,
    .red,
    .popup-select,
    .popup-textarea {
        width: 91%;
        font-size: 16px;
        line-height: 20px;
    }

    .popup-news-img {
        width: 91%;
        height: 100%;
        margin-bottom: 12px;
    }

    .popup-video-box {
        width: 91%;
        height: 210px;
        margin-bottom: 12px;
    }

    .popup-news-title {
        font-size: 18px;
        line-height: 23px;
        width: 250px;
        padding-bottom: 26px;
    }

    .popup-news-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }
    .red-text {
        font-size: 16px;
        line-height: 20px;
    }

    .popup--close {
        right: 28px;
        top: 23px;
    }
    .popup-btn {
        font-size: 16px;
        line-height: 20px;
    }

    #map {
        height: 375px;
    }
    .contact {
        margin-bottom: 17px;
    }
    .contact-input,
    .contact-textarea {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .contact-textarea {
        margin-bottom: 2px;
    }

    .contact-btn {
        font-size: 18px;
        line-height: 23px;
    }

    .contct__title {
        font-size: 18px;
        line-height: 23px;

        padding-bottom: 9px;
    }

    .contact-adress,
    .contact-tel,
    .contact-mail {
        font-size: 16px;
        line-height: 20px;
    }

    .contact__info {
        padding: 21px;
        margin-bottom: 32px;
    }
    .information {
        margin-bottom: 58px;
    }
    .reviews__slaider .slick-dots {
        margin-top: 38px;
    }
    .reviews__slaider {
        padding: 30px 13px 2px;
    }
    .question {
        margin-bottom: 32px;
    }
    .reviews-title {
        font-size: 20px;
        line-height: 25px;
    }
    .reviews__foto {
        margin-bottom: 9px;
    }
    .reviews__text {
        font-size: 14px;
        line-height: 20px;
    }
    .reviews__foto-img {
        width: 64px;
        height: 64px;
    }
    .reviews__name {
        font-size: 17px;
        line-height: 21px;
        padding-bottom: 24px;
    }
    .reviews__wrapp-title {
        padding-bottom: 11px;
    }
    .reviews-link {
        left: 50%;
        top: 108%;
        z-index: 3;
        transform: translateX(-33%);

        font-size: 16px;
        line-height: 20px;
    }
    .question__slaider .slick-prev {
        top: 46%;
        left: -31px;
        transform: scale(0.7);
    }
    .question__slaider .slick-next {
        top: 43%;
        right: -45px;
        transform: scale(0.7);
    }
    .question__box-head {
        font-size: 18px;
        line-height: 23px;
        padding: 17px 19px 22px;
    }
    .question__box-body {
        font-size: 16px;
        line-height: 20px;
        padding: 20px 16px 20px;
    }
    .question__slaider {
        width: 260px;
        margin: 12px auto 0;
    }
    .question-btn-fon {
        width: 100%;
        padding-bottom: 40px;
        padding-top: 18px;
        background: linear-gradient(90deg, rgba(235, 242, 250, 0.05), #ebf2fa 49.97%, rgba(235, 242, 250, 0.05));
        margin-bottom: 40px;
    }

    .question-btn {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 0;
    }
    .question-text {
        font-size: 18px;
        line-height: 23px;
    }

    .question-title {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    .trainer {
        margin-bottom: 50px;
    }
    .trainer {
        margin-bottom: 44px;
    }
    .us {
        padding-top: 40px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .us__box {
        margin: 0 auto 20px;
    }

    .us__box-text {
        font-size: 20px;
        line-height: 25px;
    }

    .us-title {
        font-size: 20px;
        line-height: 25px;
    }
    .price {
        margin-bottom: 11px;
    }

    .trainer-img {
        width: 260px;
        height: 260px;
    }
    .trainer-title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding-bottom: 20px;
    }
    .trainer-name {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 4px;
    }

    .trainer-position {
        font-size: 16px;
        line-height: 20px;
    }

    .trainer-experience {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 4px;
    }
    .trainer-description {
        width: 240px;
        font-size: 14px;
        line-height: 18px;
        margin: 0 auto;
    }

    .trainer {
        .slick-next {
            transform: scale(0.7);
            top: 29%;
            right: -15px;
        }
        .slick-prev {
            transform: scale(0.7);
            top: 32%;
            left: 0;
        }
    }
    .problem__row {
        flex-direction: column;
    }
    .problem-title {
        font-size: 20px;
        line-height: 25px;
    }

    .problem__row-title {
        font-size: 18px;
        line-height: 23px;
    }
    .problem__list-inner {
        font-size: 16px;
        line-height: 20px;
    }
    .problem__list {
        padding-left: 23px;
        padding-bottom: 9px;
    }
    .problem-solution {
        padding: 20px;
    }

    .problem__row {
        margin-bottom: 6px;
    }
    .problem-solution-title {
        padding-bottom: 7px;
    }
    .problem-solution-content {
        padding-bottom: 22px;
    }

    .problem {
        margin-bottom: 38px;
    }

    .direction-title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding-bottom: 23px;
    }

    .direction__box-inner {
        padding-top: 13px;
    }

    .direction__box-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }
    .direction__box-link {
        font-size: 18px;
        line-height: 23px;
    }

    .direction__wrapp-box {
        max-width: 320px;
        margin-bottom: 25px;
    }

    .direction__box-new {
        position: absolute;
        top: 8px;
        left: 10px;
    }
    .direction {
        margin-bottom: 12px;
    }
    .benefits-title {
        font-size: 20px;
        line-height: 25px;
    }

    .benefits__list,
    .benefits__list-2 {
        padding-left: 51px;
    }
    .benefits__list {
        .benefits__list-inner:after {
            content: url("../../assets/img/icon.svg");
            top: 50%;
            transform: translateY(-50%);
            left: -51px;
        }
    }
    .benefits__list-2 {
        .benefits__list-inner:after {
            content: url("../../assets/img/icon.svg");
            top: 50%;
            transform: translateY(-50%);
            left: -51px;
        }
    }

    .benefits__list-inner,
    .benefits__list-inner:nth-child(2),
    .benefits__list-inner:nth-child(3) {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 39px;
    }
    .benefits__list {
        .benefits__list-inner:nth-last-child(1) {
            margin-bottom: 25px;
        }
    }
    .benefits-img {
        margin-bottom: 19px;
    }
    .benefits {
        padding-bottom: 0;
        margin-bottom: 45px;
    }

    .program-title {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 20px;
    }
    .program__box {
        max-width: 310px;
        margin: 0 auto 19px;
    }
    .program__text {
        font-size: 18px;
        line-height: 23px;
    }
    .program {
        margin-bottom: 0;
    }
    .fits-title {
        font-size: 20px;
        line-height: 24px;
    }
    .fits__head {
        padding: 35px 30px 19px 20px;
    }
    .fits__list-inner {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 21px;
    }
    .fits__content {
        font-size: 18px;
        line-height: 23px;
    }

    .fits__list {
        padding-bottom: 2px;
    }

    .fits-btn {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
    }
    .fits__content {
        padding-bottom: 20px;
    }
    .fits__img-box {
        padding-top: 21px;
    }
    .fits__img-3 {
        margin-top: 12px;
    }
    .fits__wrapp {
        padding-bottom: 35px;
    }

    .fits {
        margin-bottom: 44px;
    }
    .price-title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding-bottom: 21px;
        padding-left: 22px;
    }
    .price {
        margin-bottom: 16px;
    }
    .price-btn {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        margin-bottom: 10px;
    }

    .price__conteiner-btn {
        padding-bottom: 0;
    }
    .price__slaider-box {
        margin-top: 9px;
        padding: 20px;
        min-height: 340px;
    }
    .price__slaider-title {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 5px;
    }
    .price__slaider-subtitle {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 32px;
    }
    .price__slaider-text {
        font-size: 14px;
        line-height: 18px;
    }

    .price__slaider-btn {
        font-size: 16px;
        line-height: 20px;
    }

    .price-old {
        font-size: 28px;
        line-height: 60px;
        span {
            font-size: 15px;
            line-height: 25px;
        }
        &::before {
            width: 80px;
        }
    }

    .price-discount {
        top: 10px;
        left: 10px;
        font-size: 12px;
        line-height: 15px;
    }

    .price__box-select {
        margin: 0 auto 5px;
        padding: 12px 15px;
        font-size: 14px;
        line-height: 16px;
    }

    .price-tody {
        font-size: 48px;
        line-height: 60px;
        span {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .price__slaider-box {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .price__box-select {
        width: 100%;
    }
    .price__slaider-acive {
        max-width: 290px;
    }
    .price .slick-next {
        right: -31px;
    }
    .price .slick-prev {
        left: -16px;
    }

    .fits-causes {
        margin-bottom: 23px;
    }

    .program-course .program__text {
        width: 327px;
        font-size: 20px;
        line-height: 25px;
    }

    .fits-text {
        font-size: 18px;
        line-height: 23px;
    }

    .program-course {
        margin-bottom: 31px;
    }
    .fits-results {
        margin-bottom: 39px;
        .fits__head {
            padding-right: 10px;
            padding-bottom: 12px;
        }
    }

    .fits-results .fits__wrapp {
        padding-bottom: 16px;
    }

    .buy-title {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 9px;
    }

    .buy--discount {
        font-size: 16px;
        line-height: 20px;

        left: 29px;
        top: 14px;
    }
    .buy-type {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 5px;
    }

    .buy__price {
        font-size: 48px;
        line-height: 60px;
        span {
            font-size: 20px;
            line-height: 25px;
        }
    }

    .buy__price-old {
        font-size: 24px;
        line-height: 30px;
        margin-right: 5px;
        &::before {
            width: 90px;
        }
        span {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .buy-stock {
        font-size: 14px;
        line-height: 18px;
    }

    .buy__box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .buy-name {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 48px;
    }

    .buy-btn {
        font-size: 16px;
        line-height: 20px;
    }

    .buy__wrapp {
        .slick-next {
            transform: scale(0.7);
            top: 43%;
            right: -15px;
        }

        .slick-prev {
            transform: scale(0.7);
            top: 45%;
            left: 0;
        }
    }
}

@media (max-width: 400px) {
    .main {
        background: url("../../assets/img/main-2.jpg") no-repeat center center/cover;
    }
}

@media (max-width: 340px) {
    .diagnosis-img-fix {
        height: 206px;
    }
    .author-img,
    .description-img {
        width: 90%;
        height: 90%;
    }

    .header__wrapp-col {
        padding-left: 59px;
    }
    .trainer {
        .slick-next {
            transform: scale(0.7);
            top: 29%;
            right: -30px;
        }
        .slick-prev {
            transform: scale(0.7);
            top: 32%;
            left: -15px;
        }
    }
    .information__wrapp-box {
        width: 270px;
    }

    .information__wrapp {
        width: 290px;
    }
    .program-course .program__text {
        max-width: 290px;
        font-size: 20px;
        line-height: 25px;
    }

    .buy__box {
        padding-left: 0px;
        padding-right: 0px;
    }
}
