.fits {
    margin-bottom: 87px;
    .container {
        position: relative;
    }
}

.fon {
    width: 80vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20px;
    background: linear-gradient(96.38deg, #ebf2fa 0%, rgba(235, 242, 250, 0) 100%) no-repeat center left;
    border-radius: 20px 0px 0px 20px;
    z-index: -1;
}
.fits__wrapp {
    max-width: 1258px;
    padding: 0 0 90px 90px;
}

.fits__head {
    padding: 90px 30px 40px 90px;
}

.fits__wrapp-inner {
    max-width: 460px;
}

.fits__img-box {
    width: 640px;

    position: relative;
    display: flex;
    justify-content: space-between;
}

.fits__img {
    border-radius: 20px;
}

.fits__img-wrapp {
    display: flex;
}
.fits__img:nth-child(1) {
    margin-right: 31px;
    position: relative;
    top: 53px;
}

.fits__img:nth-child(2) {
    position: relative;
    top: -8px;
}

.fits__img-3 {
    position: absolute;
    bottom: -237px;
    left: 123px;
    position: absolute;
    width: 445px;
    height: 301px;
    background: #fff;
    border-radius: 40px;
    padding: 18px;
}

.fits-title {
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.fits__list {
    padding-bottom: 13px;
}

.fits__list-inner {
    padding-left: 38px;
    padding-bottom: 30px;

    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    position: relative;

    &::before {
        content: url("../../assets/img/fits-icon.svg");
        position: absolute;
        left: 0;
        top: 2px;
    }
}

.fits__content {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: #3a81cf;

    padding-bottom: 32px;
}

.fits-btn {
    display: inline-block;
    padding: 12px 30px;

    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;

    background: #3a81cf;
    border-radius: 45px;
    &:hover {
        background: #3f90e6;
    }
}

.fits__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
