.information {
    margin-bottom: 90px;
}
.information-img {
    width: 386px;
    height: 290px;
    border-radius: 20px;
}

.information-vidio {
    position: relative;
    display: block;
    width: 386px;
    height: 290px;
}

.information-img-vidio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.information-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #3a81cf;
    padding-top: 15px;
    padding-bottom: 15px;
}

.information-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: underline;
    transition: 0.4s;
    &:hover {
        color: #3a81cf;
    }
}

.information__wrapp {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.information-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}
