.main__box {
    margin-bottom: 90px;
}

.main__box-title {
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #3a81cf;
    padding-bottom: 40px;
}

.main__box-img {
    border-radius: 20px;
}

.main__box-slaider {
    margin-bottom: 55px;
}

.main__box-text {
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    background: #ebf2fa;
    border-radius: 20px;
    padding: 30px;
}
