.price-swimming {
    margin-bottom: 61px;
    .price-title {
        font-weight: bold;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        text-transform: none;
    }
}
