.program {
    margin-bottom: 90px;
}
.program-title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 41px;
    text-align: center;
}

.program__box {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.program-img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.program__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.program__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
