.question {
    margin-bottom: 85px;
}
.question-btn {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    padding: 12px 30px;

    background: #3a81cf;
    border-radius: 45px;
    display: block;
    width: 217px;
    margin: 0 auto 88px;
}

.question-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.question-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 10px;
}

.question__slaider-box {
    background: #ffffff;
    border: 1px solid #3a81cf;
    border-radius: 10px;
    overflow: hidden;
}

.question__box-head {
    padding: 20px 30px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #ffffff;
    background: #3a81cf;
}

.question__box-body {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding: 20px 30px 30px 30px;
}

.question__slaider {
    margin-top: 33px;
}
