.slick-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    z-index: 3;
}

.price {
    .slick-next {
        right: -75px;
    }
    .slick-prev {
        left: -62px;
    }
}

.trainer {
    .slick-next {
        top: 36%;
        right: -80px;
    }
    .slick-prev {
        top: 36%;
        left: -62px;
    }
}

.question__slaider {
    .slick-next {
        top: 51%;
        right: -77px;
    }
    .slick-prev {
        top: 51%;
        left: -62px;
    }
}

.reviews__slaider {
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 62px;
    }
    .slick-dots li button {
        text-indent: -9999px;
        width: 8px;
        height: 8px;

        border-radius: 8px;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 2px;
        background: #ffffff;
        border: 0.5px solid #3a81cf;
        box-sizing: border-box;
    }
    .slick-dots .slick-active {
        button {
            background: #3a81cf;
        }
    }
}

.information__wrapp {
    position: relative;
    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 62px;
    }
    .slick-dots li button {
        text-indent: -9999px;
        width: 8px;
        height: 8px;

        border-radius: 8px;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 2px;
        background: #ffffff;
        border: 0.5px solid #3a81cf;
        box-sizing: border-box;
    }
    .slick-dots .slick-active {
        button {
            background: #3a81cf;
        }
    }
}

.main__box-slaider {
    .slick-dots {
        position: absolute;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 62px;
    }
    .slick-dots li button {
        text-indent: -9999px;
        width: 8px;
        height: 8px;

        border-radius: 8px;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 2px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        border: none;
        box-sizing: border-box;
    }
    .slick-dots .slick-active {
        button {
            background: #ffffff;
        }
    }
}

.foto__slaider {
    width: 405px;

    margin: 0 auto;
    margin: 80px auto;

    .slick-list {
        overflow: visible;
    }
    .slick-active {
        .foto-img {
            transform: scale(1.6);
            padding: 15px;
            background: #fff;
        }
    }
}
