.trainer {
    margin-bottom: 90px;
}

.trainer-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.trainer-img {
    width: 386px;
    height: 386px;
    border-radius: 205px;
    margin-bottom: 15px;
}

.trainer-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 15px;
}

.trainer-position {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.trainer-experience {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    padding-bottom: 15px;
}

.trainer-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
