.us-swiming {
    padding: 0;
    background: #fff;

    .us__box {
        width: 405px;
        margin-left: 0;
        margin-right: 0;
    }

    .us-title {
        font-family: "Gilroy";
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        text-transform: none;
    }
}
