<section class="author">
    <div class="container">
        <div class="author__wrapp">
            <div class="author__info">
                <h3 class="author-title">
                    Автор курса
                </h3>
                <div class="author-text">
                    Соснина Анна Михайловна, специалист по адаптивной физической культуре и реабилитации, тренер по
                    корригирующей гимнастике, автор собственных методик по оздоровительной физкультуре и коррригирующей
                    гимнастике.
                </div>
                <div class="author__box-experience ">
                    <div class="author__box-title">
                        Профессиональный стаж:
                    </div>
                    <div class="author__box-text">
                        9 лет
                    </div>
                </div>
                <div class="author__box-education">
                    <div class="author__box-title">
                        Образование Анны:
                    </div>
                    <div class="author__box-text">
                        Высшее- НГУ им. П.Ф.Лесгафта педагогический факультет, Институт Адаптивной физической культуры
                        (на базе НГУ им. П.Ф. Лесгафта, специализация - инструктор Адаптивной Физической Культуре, ЛФК,
                        гидрореабилитации, реабилитации.
                    </div>
                </div>

            </div>
            <img class="author-img" src="./assets/img/author.jpg" alt="">
        </div>
    </div>
</section>