<div class="benefits">
    <div class="container">
        <div class="benefits-title">
            Что дает оздоровительная гимнастика
        </div>
        <div class="benefits__wrapp">
            <ul class="benefits__list">
                <li class="benefits__list-inner">
                    Коррекцию имеющихся нарушений
                </li>
                <li class="benefits__list-inner">
                    Предупреждение новых деформаций
                </li>
                <li class="benefits__list-inner">
                    Улучшение всех двигательных функций организма
                </li>
                <li class="benefits__list-inner">
                    Повышение устойчивости организма к стрессовым ситуациям
                </li>
            </ul>
            <img class="benefits-img" src="./assets/img/benefits.svg" alt="">
            <ul class="benefits__list-2">
                <li class="benefits__list-inner">
                    Укрепление мышечного корсета
                </li>
                <li class="benefits__list-inner">
                    Формирование привычки к занятиям
                </li>
                <li class="benefits__list-inner">
                    Закрепление правильного навыка сидения и ходьбы
                </li>
                <li class="benefits__list-inner">
                    Профилактика дыхательных и сердечно-сосудистых заболеваний
                </li>
            </ul>
        </div>
    </div>
</div>