<div class="buy">
    <div class="container">
        <div class="buy-title">
            Стоимость курса
        </div>
        <div class="buy__box">
            <div class="buy--discount">
                Скидка
            </div>
            <div class="buy-type">
                Авторский курс
            </div>
            <div class="buy-name">
                «Жизнь без боли»
            </div>
            <div class="buy__box-wrapp">
                <div class="buy__price-old">
                    1100
                    <span class="byu__old-span">руб</span>
                </div>
                <div class="buy__price">
                    990
                    <span class="byu__price-span">руб</span>
                </div>
            </div>
            <div class="buy-stock">
                Акция действует до 22.12.2021
            </div>
            <a href="#" class="buy-btn">
                Записаться на курс
            </a>
        </div>
    </div>
</div>