<section class="contact">
    <div class="container">
        <div class="contact__wrapp">
            <div class="contact__info">
                <a href="#" class="logo">
                    <img class='logo-img' src="./assets/img/logo.svg" alt="">
                    <div class="logo-text">
                        swimming.by
                    </div>
                </a>

                <div class="contact-adress">
                    г.Минск, ул. Богдановича, 120
                </div>
                <a class="contact-tel" href="tel:+375447744753">+375 (44) 774-47-53</a>
                <a class="contact-mail" href="mailto:info@swimming.by">info@swimming.by</a>

                <div class="contact__info-title">
                    Мы в соцсетях
                </div>
                <div class="contact__link-box">
                    <a class="contact__link" href="#">
                        <img class="contact__link-img" src="./assets/img/contact-youtube.svg" alt="">
                    </a>
                    <a class="contact__link" href="#">
                        <img class="contact__link-img" src="./assets/img/contact-instagramm.svg" alt="">
                    </a>
                </div>
                <div class="contact__info-title">
                    Отзывы на картах
                </div>
                <div class="contact__link-box">
                    <a class="contact__link" href="#">
                        <img class="contact__link-img" src="./assets/img/contact-google.svg" alt="">
                    </a>
                    <a class="contact__link" href="#">
                        <img class="contact__link-img" src="./assets/img/contact-yandex.svg" alt="">
                    </a>
                </div>
            </div>

            <form action="/" class="contact__form">
                <h3 class="contct__title">
                    Если у Вас есть вопросы, напишите нам!
                </h3>
                <input class="contact-input" type="text" placeholder="Ваше имя">
                <input class="contact-input" type="text" placeholder="Ваш телефон">
                <textarea class='contact-textarea' placeholder="Сообщение"></textarea>
                <button class="contact-btn" type='submit'>
                    Отправить
                </button>
            </form>
        </div>
    </div>
</section>