<div class="description">
    <div class="container">
        <div class="description__wrapp">
            <img class="description-img" src="./assets/img/description.jpg" alt="">
            <div class="description-info">
                <div class="description-title">
                    О курсе
                </div>
                <div class="description__box-month">
                    <div class="description__box-title">
                        Длительность курса:
                    </div>
                    <div class="description__box-text">
                        3 месяца 2 раза в неделю
                    </div>
                </div>
                <div class="description__box-day">
                    <div class="description__box-title">
                        Длительность занятия 1 час:
                    </div>
                    <div class="description__box-text">
                        40 мин практики + 20 мин теории
                    </div>
                </div>
                <div class="description-text">
                    Вы получаете памятку с авторскими рекомендациями тренера для самостоятельных занятий вне курса<br>
                    <span class="description-span">(сама программа 10-12 упражнений)</span>
                </div>
                <div class="description-text">
                    На протяжении всего курса вы получаете рекомендации по улучшению своего здоровья
                </div>

            </div>
        </div>
    </div>
</div>