<div class="diagnosis">
    <div class="container">
        <div class="diagnosis-title">
            Основные проблемы при которых вам необходимо пройти курс:
        </div>
        <div class="diagnosis__wrapp">
            <div class="diagnosis-coll">
                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-1.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Слабый мышечный корсет<br>
                        (искривление осанки)
                    </div>
                </div>

                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-2.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Слабый мышечный тонус
                    </div>
                </div>

                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-3.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Болезни нижних конечностей
                    </div>
                </div>

                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-4.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Избыточная масса тела и ожирение
                    </div>
                </div>

                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-5.jpg" alt="" class="diagnosis-img diagnosis-img-fix">
                    <div class="diagnosis-text">
                        Заболевания, влияющие на когнитивную функцию ( депрессия, тревожность, постоянная усталость,
                        нарушения сна)
                    </div>
                </div>

            </div>


            <div class="diagnosis-coll-2">
                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-6.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Сколиоз
                    </div>
                </div>
                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-7.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Плоскостопие
                    </div>
                </div>
                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-8.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Остеохондроз
                    </div>
                </div>
                <div class="diagnosis-box">
                    <img src="./assets/img/diagnosis-9.jpg" alt="" class="diagnosis-img">
                    <div class="diagnosis-text">
                        Головные боли
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>