<section class="direction">
    <div class="container">
        <h3 class="direction-title">
            Направления
        </h3>
        <div class="direction__wrapp">
            <div class="direction__wrapp-box">
                <div>
                    <img class="direction__box-img" src="./assets/img/direction-1.jpg" alt="">
                    <div class="direction__box-inner">
                        <a class="direction__box-link" href="#">
                            Оздоровительная гимнастика
                        </a>
                        <p class="direction__box-text">
                            Сохранения здоровья позвоночника имеет очень большое и важное значение для каждого из нас.
                            Основная функция позвоночника - удерживать всю опорную систему и обеспечить движение тела во
                            всех направлениях.
                        </p>
                    </div>
                </div>
                <a href="#" class="direction__box-btn">
                    Подробнее
                </a>
            </div>
            <div class="direction__wrapp-box">
                <div>
                    <img class="direction__box-img" src="./assets/img/direction-2.jpg" alt="">
                    <div class="direction__box-inner">
                        <a class="direction__box-link" href="#">
                            Комплекс «гимнастика + плавание»
                        </a>
                        <p class="direction__box-text">
                            Сохранения здоровья позвоночника имеет очень большое и важное значение для каждого из нас.
                            Основная функция позвоночника - удерживать всю опорную систему и обеспечить движение тела во
                            всех направлениях.
                        </p>
                    </div>
                </div>
                <a href="#" class="direction__box-btn">
                    Подробнее
                </a>
            </div>
            <div class="direction__wrapp-box">
                <div class="direction__box-new">
                    Новинка
                </div>
                <div>
                    <img class="direction__box-img" src="./assets/img/direction-3.jpg" alt="">
                    <div class="direction__box-inner">
                        <a class="direction__box-link" href="#">
                            Авторский курс «Жизнь без боли»
                        </a>
                        <p class="direction__box-text">
                            Сохранения здоровья позвоночника имеет очень большое и важное значение для каждого из нас.
                            Основная функция позвоночника - удерживать всю опорную систему и обеспечить движение тела во
                            всех направлениях.
                        </p>
                    </div>
                </div>
                <a href="#" class="direction__box-btn">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>