<div class="fits fits-pool">

    <div class="container">
        <div class="fon"></div>
        <div class="fits__head">
            <div class="fits-title">
                Программа занятий в бассейне:
            </div>
            <div class="fits-text">
                30 минутное занятие в бассейне проводится по заранее разработанному плану тренера по оздоровительному
                плаванию.
            </div>
        </div>
        <div class="fits__wrapp">
            <div class="fits__wrapp-inner">
                <div class="fits__wrapp-text">
                    Упражнения, которые дает тренер в воде, направлены на:
                </div>
                <ul class="fits__list">
                    <li class="fits__list-inner">
                        Укрепление мышечно-связочного аппарата
                    </li>
                    <li class="fits__list-inner">
                        Уповышение тонуса всех мышечных групп
                    </li>
                    <li class="fits__list-inner">
                        Усовершенствование функций дыхательной и сердечно- сосудистой системы
                    </li>
                    <li class="fits__list-inner">
                        Развитие мышечной силы
                    </li>
                    <li class="fits__list-inner">
                        Гибкости и пластичности
                    </li>
                    <li class="fits__list-inner">
                        Координационных способностеи
                    </li>
                </ul>
                <div class="fits__wrapp-text">
                    Все это в комплексе помогает освоению разных видов техники плавания.
                </div>
            </div>
            <div class="fits__img-box">
                <img src="./assets/img/fits-pool-1.png" alt="" class="fits__img">
                <img src="./assets/img/fits-pool-2.png" alt="" class="fits__img">
                <img src="./assets/img/fits-pool-3.png" alt="" class="fits__img">
            </div>

        </div>
    </div>

</div>