<div class="fits fits-causes">

    <div class="container">
        <div class="fon"></div>
        <div class="fits__head">
            <div class="fits-title">
                Причины проблем:
            </div>
        </div>
        <div class="fits__wrapp">
            <div class="fits__wrapp-inner">
                <ul class="fits__list">
                    <li class="fits__list-inner">
                        Малоподвижный образ жизни связан непосредственно с современном образом нашего мира.
                    </li>
                    <li class="fits__list-inner">
                        Сидение в офисе, за компьютером, в школе за партой это приводит к нарушению осанки и как
                        следствие искривлению позвоночника.
                    </li>
                    <li class="fits__list-inner">
                        Вождение автомобиля приводит к нарушению кровообращения.
                    </li>
                    <li class="fits__list-inner">
                        Неправильное положения сна-также причина болей в шее и спине.
                    </li>
                    <li class="fits__list-inner">
                        Ношение неправильно подобранной обуви приводит к развитию плоскостопия и как следствие нарушение
                        опорно-двигательной системы в целом.
                    </li>
                </ul>
            </div>
            <div class="fits__img-box">
                <div class="fits__img-wrapp">
                    <img src="./assets/img/fits-causes-1.png" alt="" class="fits__img">
                    <img src="./assets/img/fits-causes-2.png" alt="" class="fits__img">
                </div>
                <img src="./assets/img/fits-causes-3.png" alt="" class="fits__img-3">
            </div>

        </div>
    </div>

</div>