<div class="fits fits-gymanstics">

    <div class="container">
        <div class="fon"></div>
        <div class="fits__head">
            <div class="fits-title">
                Занятия подойдут
            </div>
        </div>
        <div class="fits__wrapp">
            <div class="fits__wrapp-inner">
                <ul class="fits__list">
                    <li class="fits__list-inner">
                        Для взрослых и детей, желающих подготовить свой организм к тренировкам по плаванию
                    </li>
                    <li class="fits__list-inner">
                        Для тех, кто хочет откорректировать свою осанку
                    </li>
                    <li class="fits__list-inner">
                        Для профилактики сколиоза и плоскостопия
                    </li>
                    <li class="fits__list-inner">
                        Для тех, кто хочет улучшить свои физические данные
                    </li>
                    <li class="fits__list-inner">
                        Как профилактика ОРВИ
                    </li>
                </ul>
                <div class="fits__content">
                    Данная программа для детей от 5 лет и старше и для взрослых с любым уровнем физической
                    подготовки
                </div>
                <a href="#popup-recording" class="fits-btn popup-content">
                    Записаться на пробное занятие
                </a>
            </div>

            <div class="fits__img-box">
                <div class='fits__img-wrapp'>
                    <img src="./assets/img/fits-1.png" alt="" class="fits__img">
                    <img src="./assets/img/fits-2.png" alt="" class="fits__img">
                </div>
                <img src="./assets/img/fits-3.png" alt="" class="fits__img-3">
            </div>

        </div>
    </div>

</div>