<div class="foto">
    <div class="container">
        <div class="foto-title">
            Фото с занятий
        </div>
        <div class="foto__wrapp">
            <div class="foto__slaider">
                <img class="foto-img" src="./assets/img/foto-1.png" alt="">

                <img class="foto-img" src="./assets/img/foto-2.png" alt="">

                <img class="foto-img" src="./assets/img/foto-3.png" alt="">

                <img class="foto-img" src="./assets/img/foto-1.png" alt="">

                <img class="foto-img" src="./assets/img/foto-2.png" alt="">

                <img class="foto-img" src="./assets/img/foto-3.png" alt="">

            </div>
        </div>
        <button class="foto-slick-prev"><img src="./assets/img/arrow-left.svg" alt="prev"></button>
        <button class="foto-slick-next"><img src="./assets/img/arrow-right.svg" alt="next"></button>
    </div>
</div>