<div class="hall">
    <div class="container">
        <div class="fon"></div>
        <div class="hall-inner">
            <div class="hall-title">
                Программа занятий в зале:
            </div>
            <div class="hall-text">
                Методика программы заключается в том, что тренер в бассейне и тренер зала совместно разрабатывает
                индивидуальный план занятий учащихся.
            </div>
            <div class="hall-text hall-text-fix">
                30 минутное занятие в зале представляет собой комплекс упражнений, направленных на исправление и
                коррекцию нарушений осанки, профилактику и исправление плоскостопия. Данные упражнения также помогают
                подготовить организм к последующему выходу в воду. Методика включает в себя упражнения, специально
                подобранные для каждой возрастной группы:
            </div>
            <div class="hall__wrapp">
                <ul class="hall__list">
                    <li class="hall__list-inner">
                        Общеразвивающие упражнения: без предметов, с предметами
                    </li>
                    <li class="hall__list-inner">
                        Упражнения для формирования навыков правильной осанки
                    </li>
                    <li class="hall__list-inner">
                        Упражнения на укрепление мышечно-связочного аппарата
                    </li>
                    <li class="hall__list-inner">
                        Упражнения для укрепления и развития мышц спины, живота, плечевого пояса, нижних конечностей
                    </li>
                </ul>
                <img class="hall-img" src="./assets/img/hall.png" alt="">
            </div>
            <div class="hall__wrapp">
                <ul class="hall__list">
                    <li class="hall__list-inner">
                        Дыхательные упражнения
                    </li>
                    <li class="hall__list-inner">
                        Упражнения для укрепления свода стопы
                    </li>
                    <li class="hall__list-inner">
                        Упражнения на развитие равновесия, координации движений, (лазание, перелезание, ходьба по линии,
                        по гимнастической палке с различными положениями рук, с предметами и без них)
                    </li>
                    <li class="hall__list-inner">
                        Упражнения на расслабление мышц (релаксация мышц)
                    </li>
                </ul>
                <img class="hall-img" src="./assets/img/hall-2.png" alt="">
            </div>
            <div class="hall__wrapp">
                <ul class="hall__list">
                    <li class="hall__list-inner">
                        Малоподвижные игры, подвижные игры, игры с элементами спортивных игр и различные эстафеты
                    </li>
                    <li class="hall__list-inner">
                        Малоподвижные игры, подвижные игры, игры с элементами спортивных игр и различные эстафеты
                    </li>
                    <li class="hall__list-inner">
                        Упражнения с коррекционной и профилактической целью
                    </li>
                    <li class="hall__list-inner">
                        40 минутное занятие в бассейне проводится по заранее разработанному плану тренера по лфк и
                        тренера бассейна
                    </li>
                </ul>
                <img class="hall-img" src="./assets/img/hall-3.png" alt="">
            </div>
        </div>
    </div>
</div>