<header class="header">
    <div class="container">
        <div class="header__wrapp">
            <a href="index.html" class="logo">
                <img class='logo-img' src="./assets/img/logo.svg" alt="">
                <img class='logo-img-2' src="./assets/img/logo-2.svg" alt="">
                <div class="logo-text">
                    swimming.by
                </div>
            </a>



            <div class="header__wrapp-inner">

                <div class="header__col">
                    <div class="header__wrapp-col">
                        <div class="header__col-row">
                            <a href="tel:375447444753" class="header__row-link">
                                +375 44 <span>744 47 53</span>
                            </a>
                            <a href="#" class="header__row-mess">
                                <img src="./assets/img/telegramm.svg" alt="">
                            </a>
                            <a href="#" class="header__row-mess">
                                <img src="./assets/img/viber.svg" alt="">
                            </a>
                        </div>
                        <a href='#popup-bell' class="header__link popup-content">
                            заказать звонок
                        </a>

                    </div>
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__list-dropdown">
                                Направления
                                <ul class="nav__dropdown-list">
                                    <li class='nav__dropdown-inner'>
                                        <a href="course.html" class="nav__dropdown-link scroll-link">
                                            Курс “Жизнь без боли”
                                        </a>
                                    </li>
                                    <li class='nav__dropdown-inner'>
                                        <a href="swimming.html" class="nav__dropdown-link scroll-link">
                                            Оздоровительная гимнастика и плавание
                                        </a>
                                    </li>
                                    <li class='nav__dropdown-inner'>
                                        <a href="gymnastics.html" class="nav__dropdown-link scroll-link">
                                            Оздоровительная гимнастика
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__list-inner">
                                <a href="#program" class="nav__list-link scroll-link">
                                    Программа
                                </a>
                            </li>
                            <li class="nav__list-inner">
                                <a href="#price" class="nav__list-link nav__list-link-active scroll-link">
                                    Стоимость
                                </a>
                            </li>
                            <li class="nav__list-inner">
                                <a href="#trainer" class="nav__list-link scroll-link">
                                    О нас
                                </a>
                            </li>
                            <li class="nav__list-inner">
                                <a href="#review" class="nav__list-link scroll-link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="nav__list-inner">
                                <a href="#contacts" class="nav__list-link scroll-link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header-message">
                    <a href="#" class="header__message-link">
                        <img class='header__message-img' src="./assets/img/ok.svg" alt="">
                    </a>
                    <a href="#" class="header__message-link">
                        <img class='header__message-img' src="./assets/img/vk.svg" alt="">
                    </a>
                    <a href="#" class="header__message-link">
                        <img class='header__message-img' src="./assets/img/facebook.svg" alt="">
                    </a>
                    <a href="#" class="header__message-link">
                        <img class='header__message-img' src="./assets/img/youtube.svg" alt="">
                    </a>
                </div>
                <img class="header-img" src="./assets/img/header-img.svg" alt="">

            </div>

            <div class="burger">
                <a href='#popup-bell' class="burger-link popup-content">
                    <img class="burger-link-img" src="./assets/img/burger-phone.svg" alt="">
                </a>
                <button class="menu__burger">
                    <img src="./assets/img/burger.svg" alt="" class="menu__burger-img">
                    <img class="menu__burger-img--active" src="./assets/img/burger-active.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</header>