<section class="information">
    <div class="container">
        <h3 class="information-title"> Полезная информация</h3>

        <div class="information__wrapp">
            <div class="information__wrapp-box">
                <img src="./assets/img/information.jpg" alt="" class="information-img">
                <div class="information-text">
                    Оздоровительная гимнастика
                </div>
                <a href="#" class="information-link">
                    подробнее
                </a>
            </div>
            <div class="information__wrapp-box">
                <img src="./assets/img/information.jpg" alt="" class="information-img">
                <div class="information-text">
                    Оздоровительная гимнастика
                </div>
                <a href="#" class="information-link">
                    подробнее
                </a>
            </div>
            <div class="information__wrapp-box">
                <a href="#" class="information-vidio">
                    <img src="./assets/img/information.jpg" alt="" class="information-img">
                    <img src="./assets/img/information-youtube.svg" alt="" class="information-img-vidio">
                </a>
                <div class="information-text">
                    Оздоровительная гимнастика
                </div>
            </div>

        </div>
    </div>
</section>