<main class="main__box">
    <div class="container">
        <h1 class="main__box-title">
            Авторский курс «Жизнь без боли»
        </h1>
        <div class="main__box-slaider">
            <img class="main__box-img" src="./assets/img/main__course.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__course.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__course.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__course.jpg" alt="">
        </div>

        <div class="main__box-text">
            Жить без боли просто!<br>
            Занятия с профессиональным тренером по авторской методике!
        </div>
    </div>

</main>