<main class="main__box main__box-gymnastics">
    <div class="container">
        <h1 class="main__box-title">
            Оздоровительная гимнастика
        </h1>
        <div class="main__box-slaider">
            <img class="main__box-img" src="./assets/img/main__gymnastics.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__gymnastics.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__gymnastics.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__gymnastics.jpg" alt="">
        </div>
        <div class="main__box-text">
            Быть здоровым - реально!
        </div>
    </div>

</main>