<main class="main__box main__box-swimming">
    <div class="container">
        <h1 class="main__box-title">
            Оздоровительная гимнастика и плавание
        </h1>
        <div class="main__box-slaider">
            <img class="main__box-img" src="./assets/img/main__swimming.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__swimming.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__swimming.jpg" alt="">
            <img class="main__box-img" src="./assets/img/main__swimming.jpg" alt="">
        </div>

    </div>

</main>