<div id='popup-message-reviews' class="popup popup-message mfp-hide">
    <button class="popup--close" onClick="closePopup();">
        <img src="./assets/img/popup-close.svg" alt="" class="popup__close-img">
    </button>
    <a href="index.html" class="logo">
        <img class='logo-img' src="./assets/img/swimming_gym_logo_SVG.svg" alt="">
    </a>
    <div class="popup-title">
        Ваш отзыв отправлен
    </div>


    <button class="popup-btn" onClick="closePopup();">
        Закрыть
    </button>
</div>