<div id='popup-recording' class="popup popup-recording mfp-hide">
    <button class="popup--close" onClick="closePopup();">
        <img src="./assets/img/popup-close.svg" alt="" class="popup__close-img">
    </button>
    <a href="index.html" class="logo">
        <img class='logo-img' src="./assets/img/logo.svg" alt="">
        <img class='logo-img-2' src="./assets/img/logo-2.svg" alt="">
        <div class="logo-text">
            swimming.by
        </div>
    </a>
    <div class="popup-title">
        Записаться
    </div>
    <div class="popup-text">
        Оставьте ваши контактные данные и в ближайшее время мы свяжемся с вами
    </div>
    <input type="text" class="popup-input" placeholder="Ваше имя">
    <label class="red recording-red">
        <input id='telForm-3' class="popup-input-fix popup-input" type="tel">
        <span class='red-text'>Телефон<span class='red-1'>*</span></span>
    </label>
    <label class="red recording-red">
        <input class="popup-input-fix popup-input" type="email">
        <span class='red-text'>E-mail<span class='red-1'>*</span></span>
    </label>
    <select class="popup-select">
        <option>
            Пробное занятие
        </option>
        <option>
            Пробное занятие
        </option>
        <option>
            Пробное занятие
        </option>
    </select>
    <a href='#popup-message-application' class="popup-btn popup-content">
        Отправить
    </a>
</div>