<div id='popup-video' class="popup popup-video mfp-hide">
    <button class="popup--close" onClick="closePopup();">
        <img src="./assets/img/popup-close.svg" alt="" class="popup__close-img">
    </button>
    <div class="popup-news-title">
        Оздоровительная гимнастика
    </div>
    <div class="popup-video-box">
        <iframe class='popup-video-inframe' src="https://www.youtube.com/embed/kndqIj8Qgok" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="popup-news-text">
        Методика программы заключается в том, что тренер в бассейне и тренер зала совместно разрабатывает индивидуальный
        план занятий учащихся.
    </div>

    <div class="popup-news-text">
        30 минутное занятие в зале представляет собой комплекс упражнений, направленных на исправление и коррекцию
        нарушений осанки, профилактику и исправление плоскостопия. Данные упражнения также помогают подготовить организм
        к последующему выходу в воду. Методика включает в себя упражнения, специально подобранные для каждой возрастной
        группы:
    </div>

</div>