<div id='popup-message' class="popup popup-message mfp-hide">
    <button class="popup--close" onClick="closePopup();">
        <img src="./assets/img/popup-close.svg" alt="" class="popup__close-img">
    </button>
    <a href="index.html" class="logo">
        <img class='logo-img' src="./assets/img/logo.svg" alt="">
        <img class='logo-img-2' src="./assets/img/logo-2.svg" alt="">
        <div class="logo-text">
            swimming.by
        </div>
    </a>
    <div class="popup-title">
        Ваше сообщение отправлена
    </div>


    <button class="popup-btn" onClick="closePopup();">
        Закрыть
    </button>
</div>