<div id='popup-reviews' class="popup popup-reviews mfp-hide">
    <button class="popup--close" onClick="closePopup();">
        <img src="./assets/img/popup-close.svg" alt="" class="popup__close-img">
    </button>
    <a href="index.html" class="logo">
        <img class='logo-img' src="./assets/img/logo.svg" alt="">
        <img class='logo-img-2' src="./assets/img/logo-2.svg" alt="">
        <div class="logo-text">
            swimming.by
        </div>
    </a>
    <div class="popup-title">
        Оставить отзыв
    </div>


    <label class="red recording-red">
        <input class="popup-input-fix popup-input" type="text">
        <span class='red-text'>Ваше имя<span class='red-1'>*</span></span>
    </label>
    <label class="red recording-red">
        <input id='telForm-2' class="popup-input-fix popup-input" type="tel">
        <span class='red-text'>Телефон<span class='red-1'>*</span></span>
    </label>
    <textarea class='popup-textarea' placeholder="Отзыв"></textarea>
    <a href='#popup-message-reviews' class="popup-btn popup-content">
        Отправить
    </a>
</div>