<div id='popup-news' class="popup popup-news mfp-hide">
    <button class="popup--close" onClick="closePopup();">
        <img src="./assets/img/popup-close.svg" alt="" class="popup__close-img">
    </button>
    <div class="popup-news-title">
        Оздоровительная гимнастика
    </div>
    <img class="popup-news-img" src="./assets/img/popup-img.png" alt="">
    <div class="popup-news-text">
        Методика программы заключается в том, что тренер в бассейне и тренер зала совместно разрабатывает индивидуальный
        план занятий учащихся.
    </div>
    <div class="popup-news-text">
        30 минутное занятие в зале представляет собой комплекс упражнений, направленных на исправление и коррекцию
        нарушений осанки, профилактику и исправление плоскостопия. Данные упражнения также помогают подготовить организм
        к последующему выходу в воду. Методика включает в себя упражнения, специально подобранные для каждой возрастной
        группы:
    </div>

</div>