<div id='popup-bell' class="popup mfp-hide">
    <button class="popup--close" onClick="closePopup();">
        <img src="./assets/img/popup-close.svg" alt="" class="popup__close-img">
    </button>
    <a href="index.html" class="logo">
        <img class='logo-img' src="./assets/img/swimming_gym_logo_SVG.svg" alt="">
    </a>
    <div class="popup-title">
        Заказать звонок
    </div>
    <div class="popup-text">
        Оставьте ваши контактные данные и в ближайшее время мы свяжемся с вами
    </div>
    <input type="text" class="popup-input" placeholder="Ваше имя">
    <label class="red">
        <input id='telForm' class="popup-input-fix popup-input" type="text">
        <span class='red-text'>Телефон<span class='red-1'>*</span></span>
    </label>
    <a href='#popup-message' class="popup-btn popup-content">
        Отправить
    </a>
</div>