<div id='price' class="price">
    <div class="container">
        <div class="price-title">
            Стоимость занятий
        </div>
        <div class="price__conteiner-btn">
            <button class="price-btn btn-active" data-price='#price-1'>
                Групповые занятия для детей
            </button>
            <button class="test price-btn active-slaider" data-price='#price-2'>
                Индивидуальные занятия
            </button>
        </div>

        <div id='price-1' class="price__box-slaider price__slaider-acive">
            <div class="price__slaider">

                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                Разовое занятие
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    20<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <div class="price__slaider-text">
                                Вы можете попробовать свои силы на занятиях и выбрать для себя оптимальный уровень
                                нагрузки
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>


                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                1 месяц
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    62<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                62 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>

                <div>
                    <div class="price__slaider-box">
                        <div class="price-discount">
                            -10%
                        </div>
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                3 месяца
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-old">
                                    198<span>
                                        руб
                                    </span>
                                </div>
                                <div class="price-tody --red">
                                    168<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                56 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>

                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                Разовое занятие
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    20<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <div class="price__slaider-text">
                                Вы можете попробовать свои силы на занятиях и выбрать для себя оптимальный уровень
                                нагрузки
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>


                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                1 месяц
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    62<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                62 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>

                <div>
                    <div class="price__slaider-box">
                        <div class="price-discount">
                            -10%
                        </div>
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                3 месяца
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-old">
                                    198<span>
                                        руб
                                    </span>
                                </div>
                                <div class="price-tody --red">
                                    168<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                56 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>


            </div>
        </div>
        <div id='price-2' class="price__box-slaider">
            <div class="price__slaider-2">
                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                Разовое занятие
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    20<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <div class="price__slaider-text">
                                Вы можете попробовать свои силы на занятиях и выбрать для себя оптимальный уровень
                                нагрузки
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>


                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                1 месяц
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    62<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                62 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>

                <div>
                    <div class="price__slaider-box">
                        <div class="price-discount">
                            -10%
                        </div>
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                3 месяца
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-old">
                                    198<span>
                                        руб
                                    </span>
                                </div>
                                <div class="price-tody --red">
                                    168<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                56 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>

                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                Разовое занятие
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    20<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <div class="price__slaider-text">
                                Вы можете попробовать свои силы на занятиях и выбрать для себя оптимальный уровень
                                нагрузки
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>


                <div>
                    <div class="price__slaider-box">
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                1 месяц
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-tody">
                                    62<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                62 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>

                <div>
                    <div class="price__slaider-box">
                        <div class="price-discount">
                            -10%
                        </div>
                        <div class="price__slaider-body">
                            <div class="price__slaider-title">
                                3 месяца
                            </div>
                            <div class="price__slaider-subtitle">
                                Оздоровительная гимнастика
                            </div>
                            <div class="price__slaider-wrapper">
                                <div class="price-old">
                                    198<span>
                                        руб
                                    </span>
                                </div>
                                <div class="price-tody --red">
                                    168<span>
                                        руб
                                    </span>
                                </div>
                            </div>
                            <select class="price__box-select">
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                                <option>
                                    1 раз в неделю
                                </option>
                            </select>
                            <div class="price-mine">
                                56 руб/мес
                            </div>
                        </div>
                        <a href="#popup-recording" class="price__slaider-btn popup-content">
                            Записаться
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>