<div class="problem">
    <div class="container">
        <div class="problem__wrapp">
            <div class="proble__img">
                <img class="problem__img-img" src="./assets/img/problem-img.svg" alt="">
                <button class="proble__img-link marker-1 problem--active" data-tab='#tab_1'>
                    <img src="./assets/img/problem-marker.svg" alt="">
                </button>
                <button class="proble__img-link marker-2" data-tab='#tab_2'>
                    <img src="./assets/img/problem-marker.svg" alt="">
                </button>
                <button class="proble__img-link marker-3" data-tab='#tab_3'>
                    <img src="./assets/img/problem-marker.svg" alt="">
                </button>
                <button class="proble__img-link marker-4" data-tab='#tab_4'>
                    <img src="./assets/img/problem-marker.svg" alt="">
                </button>
                <button class="proble__img-link marker-5" data-tab='#tab_5'>
                    <img src="./assets/img/problem-marker.svg" alt="">
                </button>
            </div>


            <div class="problem__col">
                <div id='tab_1' class="problem__tab problem__tab-active">
                    <div class="problem-title">
                        Шейный отдел
                    </div>
                    <div class="problem__row">
                        <div class="problem__row-problems">
                            <div class="problem__row-title">
                                Проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Мышечная атррофия
                                </li>
                                <li class="problem__list-inner">
                                    Слабый мышечный тонус
                                </li>
                                <li class="problem__list-inner">
                                    Частые простудные заболевания
                                </li>
                                <li class="problem__list-inner">
                                    Непавильная осанка
                                </li>
                                <li class="problem__list-inner">
                                    Проскостопие
                                </li>
                                <li class="problem__list-inner">
                                    Нарушение опорно-двинального аппарата
                                </li>
                            </ul>
                        </div>
                        <div class="problem__row-causes">
                            <div class="problem__row-title">
                                Причины проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Малоподвичный обаз жизни
                                </li>
                                <li class="problem__list-inner">
                                    Сидение за компьютером дома и в школе
                                </li>
                                <li class="problem__list-inner">
                                    Ношение неправильно подобранной обуви
                                </li>
                                <li class="problem__list-inner">
                                    Неправильное положение сна
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="problem-solution">
                        <div class="problem-solution-title">
                            Решение
                        </div>
                        <div class="problem-solution-content">
                            Занятия по оздоровительной гимнастике 2 раза в неделю
                        </div>
                        <a class="problem-solution-btn" href="gymnastics.html">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div id='tab_2' class="problem__tab">
                    <div class="problem-title">
                        Отдел 2
                    </div>
                    <div class="problem__row">
                        <div class="problem__row-problems">
                            <div class="problem__row-title">
                                Проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Мышечная атррофия
                                </li>
                                <li class="problem__list-inner">
                                    Слабый мышечный тонус
                                </li>
                                <li class="problem__list-inner">
                                    Частые простудные заболевания
                                </li>
                                <li class="problem__list-inner">
                                    Непавильная осанка
                                </li>
                                <li class="problem__list-inner">
                                    Проскостопие
                                </li>
                                <li class="problem__list-inner">
                                    Нарушение опорно-двинального аппарата
                                </li>
                            </ul>
                        </div>
                        <div class="problem__row-causes">
                            <div class="problem__row-title">
                                Причины проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Малоподвичный обаз жизни
                                </li>
                                <li class="problem__list-inner">
                                    Сидение за компьютером дома и в школе
                                </li>
                                <li class="problem__list-inner">
                                    Ношение неправильно подобранной обуви
                                </li>
                                <li class="problem__list-inner">
                                    Неправильное положение сна
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="problem-solution">
                        <div class="problem-solution-title">
                            Решение
                        </div>
                        <div class="problem-solution-content">
                            Занятия по оздоровительной гимнастике 2 раза в неделю
                        </div>
                        <a class="problem-solution-btn" href="gymnastics.html">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div id='tab_3' class="problem__tab">
                    <div class="problem-title">
                        Отдел 3
                    </div>
                    <div class="problem__row">
                        <div class="problem__row-problems">
                            <div class="problem__row-title">
                                Проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Мышечная атррофия
                                </li>
                                <li class="problem__list-inner">
                                    Слабый мышечный тонус
                                </li>
                                <li class="problem__list-inner">
                                    Частые простудные заболевания
                                </li>
                                <li class="problem__list-inner">
                                    Непавильная осанка
                                </li>
                                <li class="problem__list-inner">
                                    Проскостопие
                                </li>
                                <li class="problem__list-inner">
                                    Нарушение опорно-двинального аппарата
                                </li>
                            </ul>
                        </div>
                        <div class="problem__row-causes">
                            <div class="problem__row-title">
                                Причины проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Малоподвичный обаз жизни
                                </li>
                                <li class="problem__list-inner">
                                    Сидение за компьютером дома и в школе
                                </li>
                                <li class="problem__list-inner">
                                    Ношение неправильно подобранной обуви
                                </li>
                                <li class="problem__list-inner">
                                    Неправильное положение сна
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="problem-solution">
                        <div class="problem-solution-title">
                            Решение
                        </div>
                        <div class="problem-solution-content">
                            Занятия по оздоровительной гимнастике 2 раза в неделю
                        </div>
                        <a class="problem-solution-btn" href="gymnastics.html">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div id='tab_4' class="problem__tab">
                    <div class="problem-title">
                        Отдел 4
                    </div>
                    <div class="problem__row">
                        <div class="problem__row-problems">
                            <div class="problem__row-title">
                                Проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Мышечная атррофия
                                </li>
                                <li class="problem__list-inner">
                                    Слабый мышечный тонус
                                </li>
                                <li class="problem__list-inner">
                                    Частые простудные заболевания
                                </li>
                                <li class="problem__list-inner">
                                    Непавильная осанка
                                </li>
                                <li class="problem__list-inner">
                                    Проскостопие
                                </li>
                                <li class="problem__list-inner">
                                    Нарушение опорно-двинального аппарата
                                </li>
                            </ul>
                        </div>
                        <div class="problem__row-causes">
                            <div class="problem__row-title">
                                Причины проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Малоподвичный обаз жизни
                                </li>
                                <li class="problem__list-inner">
                                    Сидение за компьютером дома и в школе
                                </li>
                                <li class="problem__list-inner">
                                    Ношение неправильно подобранной обуви
                                </li>
                                <li class="problem__list-inner">
                                    Неправильное положение сна
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="problem-solution">
                        <div class="problem-solution-title">
                            Решение
                        </div>
                        <div class="problem-solution-content">
                            Занятия по оздоровительной гимнастике 2 раза в неделю
                        </div>
                        <a class="problem-solution-btn" href="gymnastics.html">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div id='tab_5' class="problem__tab">
                    <div class="problem-title">
                        Отдел 5
                    </div>
                    <div class="problem__row">
                        <div class="problem__row-problems">
                            <div class="problem__row-title">
                                Проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Мышечная атррофия
                                </li>
                                <li class="problem__list-inner">
                                    Слабый мышечный тонус
                                </li>
                                <li class="problem__list-inner">
                                    Частые простудные заболевания
                                </li>
                                <li class="problem__list-inner">
                                    Непавильная осанка
                                </li>
                                <li class="problem__list-inner">
                                    Проскостопие
                                </li>
                                <li class="problem__list-inner">
                                    Нарушение опорно-двинального аппарата
                                </li>
                            </ul>
                        </div>
                        <div class="problem__row-causes">
                            <div class="problem__row-title">
                                Причины проблемы:
                            </div>
                            <ul class="problem__list">
                                <li class="problem__list-inner">
                                    Малоподвичный обаз жизни
                                </li>
                                <li class="problem__list-inner">
                                    Сидение за компьютером дома и в школе
                                </li>
                                <li class="problem__list-inner">
                                    Ношение неправильно подобранной обуви
                                </li>
                                <li class="problem__list-inner">
                                    Неправильное положение сна
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="problem-solution">
                        <div class="problem-solution-title">
                            Решение
                        </div>
                        <div class="problem-solution-content">
                            Занятия по оздоровительной гимнастике 2 раза в неделю
                        </div>
                        <a class="problem-solution-btn" href="gymnastics.html">
                            Подробнее
                        </a>
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>