<div class="program program-course">
    <div class="container">
        <div class="program-title">
            В программу входит:
        </div>
        <div class="program__wrapp">
            <div class="program__box">
                <img class="program-img" src="./assets/img/program-course-1.svg" alt="">
                <div class="program__text">
                    Диагностика и консультация
                </div>
            </div>
            <div class="program__box">
                <img class="program-img" src="./assets/img/program-course-2.svg" alt="">
                <div class="program__text">
                    Составление индивидуального плана занятий
                </div>
            </div>
            <div class="program__box">
                <img class="program-img" src="./assets/img/program-course-3.svg" alt="">
                <div class="program__text">
                    Занятия по авторской методике с учетом индивидуальных особенностей
                </div>
            </div>
            <div class="program__box">
                <img class="program-img" src="./assets/img/program-course-4.svg" alt="">
                <div class="program__text">
                    Рекомендации по закреплению полученных умений и навыков на занятиях
                </div>
            </div>
        </div>
    </div>
</div>