<div id='program' class="program">
    <div class="container">
        <div class="program-title">
            Программа занятий
        </div>
        <div class="program__wrapp">
            <div class="program__box">
                <img class="program-img" src="./assets/img/programm-1.svg" alt="">
                <div class="program__text">
                    Консультация с тренером на первом занятии
                </div>
            </div>
            <div class="program__box">
                <img class="program-img" src="./assets/img/programm-2.svg" alt="">
                <div class="program__text">
                    Составление плана дальнейших занятий
                </div>
            </div>
            <div class="program__box">
                <img class="program-img" src="./assets/img/programm-3.svg" alt="">
                <div class="program__text">
                    Тренировки, разработаные по авторской программе
                </div>
            </div>
            <div class="program__box">
                <img class="program-img" src="./assets/img/programm-4.svg" alt="">
                <div class="program__text">
                    Рекомендации для поддержания зворовья учащихся
                </div>
            </div>
        </div>
    </div>
</div>