<div class="question">
    <div class="container">
        <a href="#" class="question-btn">
            Хочу записаться
        </a>
        <div class="question__wrapp">
            <div class="question-title"> Вопрос - ответ</div>

            <div class="question-text">
                Отвечаем на самые главные и волнующие вопросы о корригирующей гимнастике. Не все до конца понимают, что
                же собой представляет сочетание слов «оздоровительная гимнастика»?

            </div>
            <div class="question-text">
                Поэтому мы сейчас ответим на самые волнующие вопросы.
            </div>
            <div class="question__slaider">

                <div class="question__slaider-box">
                    <div class="question__box-head">
                        Кому подходят занятия по оздоровительной гимнастике?
                    </div>
                    <div class="question__box-body">
                        оздоровительная гимнастика назначается как взрослым, так и детям. Она обеспечивает эффективность
                        лечения если вам его назначил врач, а также предупреждает развитие многих заболеваний.
                    </div>
                </div>

                <div class="question__slaider-box">
                    <div class="question__box-head">
                        Кому подходят занятия по оздоровительной гимнастике?
                    </div>
                    <div class="question__box-body">
                        оздоровительная гимнастика назначается как взрослым, так и детям. Она обеспечивает эффективность
                        лечения если вам его назначил врач, а также предупреждает развитие многих заболеваний.
                    </div>
                </div>

                <div class="question__slaider-box">
                    <div class="question__box-head">
                        Кому подходят занятия по оздоровительной гимнастике?
                    </div>
                    <div class="question__box-body">
                        оздоровительная гимнастика назначается как взрослым, так и детям. Она обеспечивает эффективность
                        лечения если вам его назначил врач, а также предупреждает развитие многих заболеваний.
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>