<div class="recording">
    <div class="container">
        <div class="recording__wrapp">
            <div class="recording-title">
                Записаться на пробное занятие
            </div>
            <div class="recording-text">
                Оставьие ваши контактные данные и в ближайшее время мы свяжемся с вами
            </div>
            <form class="recording-form" action="/">
                <input class="recording-input" type="text" placeholder="Ваше имя">
                <input class="recording-input" type="tel" placeholder="Ваш телефон">
                <a href='#popup-message-application' class="recording-btn popup-content">
                    Отправить
                </a>
            </form>
        </div>
    </div>
</div>