<div id='review' class='reviews'>
    <div class="container">
        <div class="reviews__wrapp-title">
            <div class="reviews-title">
                Отзывы
            </div>
            <a href="#popup-reviews" class="reviews-link popup-content">
                оставить отзыв
            </a>
        </div>
        <div class="reviews__slaider">

            <div class="reviews__box">
                <div class="reviews__foto">
                    <img src="./assets/img/foto.svg" alt="" class="reviews__foto-img">
                </div>
                <div class="reviews__name">
                    Имя автора
                </div>
                <div class="reviews__text">
                    Уникальность нашего курса заключается в том, что при составлении программы индивидуальной для
                    каждого, мы воздействуем на организм в целом. Благодаря нашему авторскому курсу вы забываете о своих
                    проблемах связанных с нарушением сна, болях в спине, болезненных ощущений при ходьбе, неприятных
                    ощущений в области шеи, онемении конечностей, Мы помогаем улучшить кровообращение, общее
                    самочувствие организма, улучшить эмоционального состояния.
                </div>
            </div>

            <div class="reviews__box">
                <div class="reviews__foto">
                    <img src="./assets/img/foto.svg" alt="" class="reviews__foto-img">
                </div>
                <div class="reviews__name">
                    Имя автора
                </div>
                <div class="reviews__text">
                    Уникальность нашего курса заключается в том, что при составлении программы индивидуальной для
                    каждого, мы воздействуем на организм в целом. Благодаря нашему авторскому курсу вы забываете о своих
                    проблемах связанных с нарушением сна, болях в спине, болезненных ощущений при ходьбе, неприятных
                    ощущений в области шеи, онемении конечностей, Мы помогаем улучшить кровообращение, общее
                    самочувствие организма, улучшить эмоционального состояния.
                </div>
            </div>

            <div class="reviews__box">
                <div class="reviews__foto">
                    <img src="./assets/img/foto.svg" alt="" class="reviews__foto-img">
                </div>
                <div class="reviews__name">
                    Имя автора
                </div>
                <div class="reviews__text">
                    Уникальность нашего курса заключается в том, что при составлении программы индивидуальной для
                    каждого, мы воздействуем на организм в целом. Благодаря нашему авторскому курсу вы забываете о своих
                    проблемах связанных с нарушением сна, болях в спине, болезненных ощущений при ходьбе, неприятных
                    ощущений в области шеи, онемении конечностей, Мы помогаем улучшить кровообращение, общее
                    самочувствие организма, улучшить эмоционального состояния.
                </div>
            </div>
        </div>
    </div>
</div>