<div id='trainer' class="trainer">
    <div class="container">
        <div class="trainer-title">
            Наши тренеры
        </div>
        <div class="traniner-slaider">

            <div class="trainer__slaider-box">
                <img src="./assets/img/trainer-1.jpg" alt="" class="trainer-img">
                <div class="trainer-name">
                    Соснина Анна
                </div>
                <div class="trainer-position">
                    Тренер по корригирующей гимнастике,
                </div>
                <div class="trainer-experience">
                    стаж 8 лет
                </div>
                <div class="trainer-description">
                    Анна сделает осанку вашего ребенка ровной и красивой!
                </div>
            </div>


            <div class="trainer__slaider-box">
                <img src="./assets/img/trainer-2.jpg" alt="" class="trainer-img">
                <div class="trainer-name">
                    Рублевский Георгий
                </div>
                <div class="trainer-position">
                    Тренер (инструктор) по плаванию
                </div>
                <div class="trainer-experience">
                    стаж 2 года
                </div>
                <div class="trainer-description">
                    Анна сделает осанку вашего ребенка ровной и красивой!
                </div>
            </div>


            <div class="trainer__slaider-box">
                <img src="./assets/img/trainer-3.jpg" alt="" class="trainer-img">
                <div class="trainer-name">
                    Артем Лабох
                </div>
                <div class="trainer-position">
                    Тренер (инструктор) по плаванию
                </div>
                <div class="trainer-experience">
                    стаж 2 года
                </div>
                <div class="trainer-description">
                    Анна сделает осанку вашего ребенка ровной и красивой!
                </div>
            </div>

            <div class="trainer__slaider-box">
                <img src="./assets/img/trainer-1.jpg" alt="" class="trainer-img">
                <div class="trainer-name">
                    Соснина Анна
                </div>
                <div class="trainer-position">
                    Тренер по корригирующей гимнастике,
                </div>
                <div class="trainer-experience">
                    стаж 8 лет
                </div>
                <div class="trainer-description">
                    Анна сделает осанку вашего ребенка ровной и красивой!
                </div>
            </div>


            <div class="trainer__slaider-box">
                <img src="./assets/img/trainer-2.jpg" alt="" class="trainer-img">
                <div class="trainer-name">
                    Рублевский Георгий
                </div>
                <div class="trainer-position">
                    Тренер (инструктор) по плаванию
                </div>
                <div class="trainer-experience">
                    стаж 2 года
                </div>
                <div class="trainer-description">
                    Анна сделает осанку вашего ребенка ровной и красивой!
                </div>
            </div>


            <div class="trainer__slaider-box">
                <img src="./assets/img/trainer-3.jpg" alt="" class="trainer-img">
                <div class="trainer-name">
                    Артем Лабох
                </div>
                <div class="trainer-position">
                    Тренер (инструктор) по плаванию
                </div>
                <div class="trainer-experience">
                    стаж 2 года
                </div>
                <div class="trainer-description">
                    Анна сделает осанку вашего ребенка ровной и красивой!
                </div>
            </div>



        </div>
    </div>
</div>