<div class="us us-swiming">
    <div class="container">
        <div class="us-title">
            Совместные занятия в зале и бассейне способствуют
        </div>
        <div class="us__wrapp">

            <div class="us__box">
                <img src="./assets/img/us-swiming-1.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Подготовке организма к<br> тренировке на воде
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-swiming-2.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Укреплению<br>
                    мышечного корсета
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-swiming-3.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Укрепление и растяжка<br>
                    плечевого пояса
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-swiming-4.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Развитию основных физических<br> качеств:силы, координации,<br> ловкости, гибкости, быстроты
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-swiming-5.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Коррекции осанки<br>
                    и плоскостопия
                </div>
            </div>


        </div>
    </div>
</div>