<div class="us">
    <div class="container">
        <div class="us-title">
            Почему выбирают нас?
        </div>
        <div class="us__wrapp">

            <div class="us__box">
                <img src="./assets/img/us-1.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Высокий уровень<br>
                    профессионализма
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-2.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Тренировки по<br>
                    авторской методике
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-3.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Возможность совмещать<br>
                    с занятиями по плаванию
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-4.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Удобное<br>
                    расписание
                </div>
            </div>
            <div class="us__box">
                <img src="./assets/img/us-5.svg" alt="" class="us__box-img">
                <div class="us__box-text">
                    Индивидуальный<br>
                    подход
                </div>
            </div>


        </div>
    </div>
</div>