@import "../sass/vendor/font.scss";
@import "../sass/vendor/jquery.mCustomScrollbar.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/slick.scss";

* {
    box-sizing: border-box;
    font-family: "Geometria";

    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #323232;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1258px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@import "../sass/blocks/burger.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/problem.scss";
@import "../sass/blocks/direction.scss";
@import "../sass/blocks/benefits.scss";
@import "../sass/blocks/program.scss";
@import "../sass/blocks/fits.scss";
@import "../sass/blocks/price.scss";
@import "../sass/blocks/slick__slaider.scss";
@import "../sass/blocks/trainer.scss";
@import "../sass/blocks/us.scss";
@import "../sass/blocks/question.scss";
@import "../sass/blocks/reviews.scss";
@import "../sass/blocks/information.scss";
